/* h1{
    color: blue;
    font-size: 24px;
}
p{
    font-size: 18px;
    color: green;
} */


/* h1, p{
    color: green;
} */


#heading1{
    color: blue;
    font-size: 24px;
}

#heading2{
    color: red;
    font-size: 18px;

}